GEMINI_API_KEY=AIzaSyCxkeAqSzyxoblp8D4b6eHfyB3X8nGdoj8
DUMMY_FINDER_DATA_DIR=./data
DUMMY_FINDER_CHROMA_DIR=./data/chromadb
DUMMY_FINDER_COLLECTION_NAME=dummy_finder
EMBEDDING_MODEL="gemini-embedding-2-preview"
EMBEDDING_DIMENSIONS=768
MAX_TEXT_TOKENS=8192
